## Aufgaben

In [1]:
import pandas as pd
import numpy as np

from sympy import *
from sympy.solvers.diophantine import diophantine
x, y, z = symbols("x, y, z", integer=True)
from IPython.display import display, HTML

def ggT(a,b):
    print(f'{a:6} {b:6}')  
    while b != 0:
        a, b = b, a% b
        print(f'{a:6} {b:6}') 


def egcd_tab(a,b):
    zeile = []
    zeile.append([a,b,a//b,a%b])
    i = 1

    while a%b != 0:
        a = zeile[i-1][1]
        b = zeile[i-1][3]
        zeile.append([a,b,a//b,a%b])
        i = i+1

    k = len(zeile)-1
    zeile[k]+=[0,1]
    k=k-1

    while k >=0:
        x = zeile[k+1][5]
        y = zeile[k+1][4]-zeile[k][2]*zeile[k+1][5]
        zeile[k]+=[x,y]
        k = k-1
    
    df =  pd.DataFrame(zeile,columns=['a', 'b', 'q', 'r', 'x', 'y'])
    satz = f'{df.iloc[0,4]} * {df.iloc[0,0]}  + {df.iloc[0,5]} * {df.iloc[0,1]} = {df.iloc[-1,1]}'
    print(satz)
    return df

def egcd(a, b):
    if a == 0:
        return (b, 0, 1)
    else:
        g, y, x = egcd(b % a, a)
        return (g, x - (b // a) * y, y)

def modinv(a, m):
    g, x, y = egcd(a, m)
    if g != 1:
        raise Exception('modular inverse does not exist')
    else:
        return x % m

def ggTr(a,b):
    while b!= 0:
        a, b = b, a% b
    return a
    
def rsa(p,q,e,n):
    print(f'p={p}, q={q}, e={e}')
    m = p*q
    ms = (p-1)*(q-1)
    print(f'RSA-Modul m={m}, m_schlange={ms}')
    print(f'ggT von v und m_schlange ist {ggTr(e,ms)}')

    d = modinv(e,ms)
    print(f'Öffentlicher Schlüssel:  ({m},{e})')
    print(f'Privater Schlüssel: ({m},{d})' )
    N = (n ** e) % m
    print(f'Nachricht: {n}')
    print(f'Verschlüsselte Nachricht: {N}')
    print()
    print('Hilfsmittel:')
    reihe(m)
    print()
    binaer(e)
    print()
    potenzen(n,m)
    
def reihe(m):
    print(f'Die {m}er-Reihe')
    for i in range(1,10):
        print(i,i*m)
        
def binaer(x):
    x1 = x
    print(f'Binärdarstellung von {x}')
   
    if x == 0: return '0'
    s = ""  
    print(f'{x:4}')
    while x != 0:
        s = str(x%2) + s
        print(f'{x//2:4}{x%2:4}')
        x = x // 2
    print(f'{x1} binär: {s}')
    
def potenzen(n, m):
    print('Nützliche Potenzen')
    for i in range(0,10):
        pot = n**(2**i) % m
        print(f'{i} - {n}^{2**i} mod {m} = {pot} = {pot-m}')

def diffie_uebung(p,g,a,b):
    print(f'p = {p}, g = {g}, a = {a}, b = {b}')
    print('Berechne A, B und den gemeinsamen Schlüssel K.\n')
    print(f'Die {p}er-Reihe')
    for i in range(1,11):
        print(f'{i} * {p} = {i*p}')
    
    print(f'\nPotenzen von {g}')
    for i in range(0,10):
        x = g**(2**i) % p
        print(f'{i} - {g}^{2**i} mod {p} = {x} = {x-p}')
        
def diffie(p,g,a,b):
    print(f'p = {p}, g = {g}, a = {a}, b = {b}')
    A = (g ** a) % p
    B = (g ** b) % p
    K = (B ** a) % p

    print(f'Öffentlich: A={A}, B={B}, p={p}, g={g}')
    print(f'Gemeinsamer Schlüssel: K={K}')
    

    
def pliste(p,g):
    ''' die Potenzen g hoch x mod p  '''
 
    print(f'Die Potenzen von {g} mod {p}')
    
    df = pd.DataFrame(columns=list(range(1,p)))
    a = [(g ** x) % p for x in range(1,p) ]
    df.loc[f'{g}^x mod {p}'] = a


    display(HTML(df.to_html()))

def diffie_knack(p,g,A,B):
    print(f'p = {p}, g = {g}, A = {A}, B = {B}.')
    print('Knacke Diffie-Hellman. Wie heißen die Geheimnisse von Alice und Bob und der gemeinsame Schlüssel K?')
    print(f'\nPotenzen von {g}')
    for i in range(0,10):
        x = g**(2**i) % p
        print(f'{i} - {g}^{2**i} mod {p} = {x} = {x-p}')
    print()
    reihe(p)
    print()
    pliste(p,g)
    
def quadratzahlen():
    tmp = "Quadratzahlen\n"
    for i in range(11,21):
        tmp += f'{i}-{i*i} '
    tmp +='\n'
    for i in range(21,31):
        tmp += f'{i}-{i*i} '
    return tmp  


def rsa_uebung(p, q, e, n):
    print(f'p = {p}, q = {q}, e = {e}, n = {n}')
    
    print(f'Berechne den öffentlichen Schlüssel und prüfe dessen Zulässigkeit.')
    print(f'Berechne den privaten Schlüssel.')
    print(f'Verschlüssele die Nachricht n und teste den privaten Schlüssel.')
    print()
    reihe(p*q)
    print()
    print(quadratzahlen())
    
def rsa_loesung(p,q,e,n):
    print(f'p = {p}, q = {q}, e = {e}, n = {n}')
    m = p * q
    m_schlange = (p-1)*(q-1)
    print(f'm = {m}, m_schlange = {m_schlange}')
    print(f'ggT({e},{m_schlange}) = {ggTr(e,m_schlange)}')
    df = egcd_tab(m_schlange,e)
    display(HTML(df.to_html()))
    d = modinv(e,m_schlange)
    print(f'd = {d}')
    print(f'oeffentlicher Schlüssel: ({m},{e})')
    print(f'privater Schlüssel: ({m},{d})')
    print()
    print(f'Verschlüsselung der Nachricht: {n}')
    print(f'\nPotenzen von {n}')
    for i in range(0,10):
        x = n**(2**i) % m
        print(f'{i} - {n}^{2**i} mod {m} = {x} = {x-m}')
    N = (n**e) % m
    print(f'N = {N}')
    print()
    print(f'Entschlüsseln der Nachricht: {N}')
    print(f'\nPotenzen von {N}')
    for i in range(0,10):
        x = N**(2**i) % m
        print(f'{i} - {N}^{2**i} mod {m} = {x} = {x-m}')
    n1 = (N**d) % m
    print(f'n = {n1}')   
    
def reihen():
    ''' Multiplikationsreihen für ausgewählte Zahlen '''       
    df = pd.DataFrame(columns=range(1,16))
    for x in sorted([13,17,23,29,31,33,77,91]):
        df.loc[x] =  [i*x for i in range(1,16)]   
    return df

#### A1:

In [2]:
def ggT(a,b):
    print(f'{a:6} {b:6}')  
    while b != 0:
        a, b = b, a% b
        print(f'{a:6} {b:6}')

In [3]:
# a.
ggT(150,54)

   150     54
    54     42
    42     12
    12      6
     6      0

In [4]:
# b.
ggT(300,468)

   300    468
   468    300
   300    168
   168    132
   132     36
    36     24
    24     12
    12      0

In [5]:
# c.
ggT(44,18)

    44     18
    18      8
     8      2
     2      0

In [6]:
# d.
ggT(992,999)

   992    999
   999    992
   992      7
     7      5
     5      2
     2      1
     1      0

----

#### A2

In [7]:
# a.
egcd_tab(531,93)

-7 * 531  + 40 * 93 = 3

     a   b  q   r  x   y
0  531  93  5  66 -7  40
1   93  66  1  27  5  -7
2   66  27  2  12 -2   5
3   27  12  2   3  1  -2
4   12   3  4   0  0   1

In [8]:
# b.
egcd_tab(753,64)

17 * 753  + -200 * 64 = 1

     a   b   q   r   x    y
0  753  64  11  49  17 -200
1   64  49   1  15 -13   17
2   49  15   3   4   4  -13
3   15   4   3   3  -1    4
4    4   3   1   1   1   -1
5    3   1   3   0   0    1

------
#### A3

In [9]:
# a.
egcd_tab(96,66)

-2 * 96  + 3 * 66 = 6

    a   b  q   r  x  y
0  96  66  1  30 -2  3
1  66  30  2   6  1 -2
2  30   6  5   0  0  1

In [10]:
# c.
egcd_tab(119,143)

-6 * 119  + 5 * 143 = 1

     a    b   q    r  x  y
0  119  143   0  119 -6  5
1  143  119   1   24  5 -6
2  119   24   4   23 -1  5
3   24   23   1    1  1 -1
4   23    1  23    0  0  1

----

#### A4

In [11]:
# a.
diophantine(42*x + 126*y - 84)

{(3*t_0 + 2, -t_0)}

In [12]:
# b.
diophantine(81*x + 54*y - 27)

{(2*t_0 + 1, -3*t_0 - 1)}

In [13]:
# c.
diophantine(77*x + 121*y - 44)

{(11*t_0 - 12, 8 - 7*t_0)}

----

#### A5

In [14]:

k = symbols("k", integer=True)
# a
solve(3 + x - 7*k, x), diophantine(3 + x - 7*k)

([7*k - 3], {(t_0, 7*t_0 - 3)})

In [15]:
# b
diophantine(5*x - 2 - 7*k)    # In der Lösung wird in alphabetischer Reihenfolge ausgegeben

{(5*t_0 + 4, 7*t_0 + 6)}

In [16]:
# c
diophantine(5*x - 10*k -2 )   # Lösung: leere Menge

set()

In [17]:
# d
diophantine(x+34-k*5)

{(t_0, 5*t_0 - 34)}

----- 

#### A7

In [18]:
# .a
egcd_tab(37,33)

-8 * 37  + 9 * 33 = 1

    a   b  q  r  x  y
0  37  33  1  4 -8  9
1  33   4  8  1  1 -8
2   4   1  4  0  0  1

In [19]:
(9 * 5) % 37

8

In [20]:
# .b
egcd_tab(89,20)

9 * 89  + -40 * 20 = 1

    a   b  q  r  x   y
0  89  20  4  9  9 -40
1  20   9  2  2 -4   9
2   9   2  4  1  1  -4
3   2   1  2  0  0   1

In [21]:
(-40 * 7) % 89

76

----

#### A8

In [22]:
# a.
modinv(4**11,13)

4

In [23]:
# b.
(6 ** 31) % 29

13

In [24]:
# c.
(6 ** 32) % 29

20

-----

#### A9

In [25]:
# a.
modinv(5**21, 23)

5

In [26]:
# b.
modinv(10**13, 23)

20

In [27]:
# c.
(7 * modinv(10 ** 12, 23)) % 23

20

In [28]:
# d.
(7 * modinv(22,23)) % 23

16

-----

#### A10

In [29]:
# a.
diffie(7,3,3,4)

p = 7, g = 3, a = 3, b = 4
Öffentlich: A=6, B=4, p=7, g=3
Gemeinsamer Schlüssel: K=1

In [30]:
# b.
diffie(23,7,15,17)

p = 23, g = 7, a = 15, b = 17
Öffentlich: A=14, B=19, p=23, g=7
Gemeinsamer Schlüssel: K=20

------

#### A12

In [31]:
rsa(3,11,7,6)

p=3, q=11, e=7
RSA-Modul m=33, m_schlange=20
ggT von v und m_schlange ist 1
Öffentlicher Schlüssel:  (33,7)
Privater Schlüssel: (33,3)
Nachricht: 6
Verschlüsselte Nachricht: 30

Hilfsmittel:
Die 33er-Reihe
1 33
2 66
3 99
4 132
5 165
6 198
7 231
8 264
9 297

Binärdarstellung von 7
   7
   3   1
   1   1
   0   1
7 binär: 111

Nützliche Potenzen
0 - 6^1 mod 33 = 6 = -27
1 - 6^2 mod 33 = 3 = -30
2 - 6^4 mod 33 = 9 = -24
3 - 6^8 mod 33 = 15 = -18
4 - 6^16 mod 33 = 27 = -6
5 - 6^32 mod 33 = 3 = -30
6 - 6^64 mod 33 = 9 = -24
7 - 6^128 mod 33 = 15 = -18
8 - 6^256 mod 33 = 27 = -6
9 - 6^512 mod 33 = 3 = -30

In [32]:
rsa(7,11,47,2)

p=7, q=11, e=47
RSA-Modul m=77, m_schlange=60
ggT von v und m_schlange ist 1
Öffentlicher Schlüssel:  (77,47)
Privater Schlüssel: (77,23)
Nachricht: 2
Verschlüsselte Nachricht: 18

Hilfsmittel:
Die 77er-Reihe
1 77
2 154
3 231
4 308
5 385
6 462
7 539
8 616
9 693

Binärdarstellung von 47
  47
  23   1
  11   1
   5   1
   2   1
   1   0
   0   1
47 binär: 101111

Nützliche Potenzen
0 - 2^1 mod 77 = 2 = -75
1 - 2^2 mod 77 = 4 = -73
2 - 2^4 mod 77 = 16 = -61
3 - 2^8 mod 77 = 25 = -52
4 - 2^16 mod 77 = 9 = -68
5 - 2^32 mod 77 = 4 = -73
6 - 2^64 mod 77 = 16 = -61
7 - 2^128 mod 77 = 25 = -52
8 - 2^256 mod 77 = 9 = -68
9 - 2^512 mod 77 = 4 = -73

### Weitere Übungen

In [33]:
# Diffie-Hellman 1
p, g, a, b = 23, 11, 5, 10
diffie_uebung(p,g,a,b)

p = 23, g = 11, a = 5, b = 10
Berechne A, B und den gemeinsamen Schlüssel K.

Die 23er-Reihe
1 * 23 = 23
2 * 23 = 46
3 * 23 = 69
4 * 23 = 92
5 * 23 = 115
6 * 23 = 138
7 * 23 = 161
8 * 23 = 184
9 * 23 = 207
10 * 23 = 230

Potenzen von 11
0 - 11^1 mod 23 = 11 = -12
1 - 11^2 mod 23 = 6 = -17
2 - 11^4 mod 23 = 13 = -10
3 - 11^8 mod 23 = 8 = -15
4 - 11^16 mod 23 = 18 = -5
5 - 11^32 mod 23 = 2 = -21
6 - 11^64 mod 23 = 4 = -19
7 - 11^128 mod 23 = 16 = -7
8 - 11^256 mod 23 = 3 = -20
9 - 11^512 mod 23 = 9 = -14

In [34]:
diffie(p,g,a,b)

p = 23, g = 11, a = 5, b = 10
Öffentlich: A=5, B=2, p=23, g=11
Gemeinsamer Schlüssel: K=9

In [ ]:
# Diffie-Hellman 2
p, g, a, b = 29, 13, 12, 9
diffie_uebung(p,g,a,b)

In [ ]:
diffie(p,g,a,b)

In [ ]:
# Diffie-Hellman 3
p, g, a, b = 31, 11, 17, 22
diffie_uebung(p,g,a,b)

In [ ]:
diffie(p,g,a,b)

In [ ]:
p, g, A, B = 11, 2, 5, 8
diffie_knack(p,g,A,B)

In [ ]:
diffie(11,2,4,3)

In [ ]:
# Diffie-Hellman knacken 2
p, g, A, B = 17, 7, 11, 13
diffie_knack(p,g,A,B)

In [ ]:
diffie(p,g,5,12)

In [2]:
# rsa_1
rsa_uebung(7,13,11,10)

p = 7, q = 13, e = 11, n = 10
Berechne den öffentlichen Schlüssel und prüfe dessen Zulässigkeit.
Berechne den privaten Schlüssel.
Verschlüssele die Nachricht n und teste den privaten Schlüssel.

Die 91er-Reihe
1 91
2 182
3 273
4 364
5 455
6 546
7 637
8 728
9 819

Quadratzahlen
11-121 12-144 13-169 14-196 15-225 16-256 17-289 18-324 19-361 20-400
21-441 22-484 23-529 24-576 25-625 26-676 27-729 28-784 29-841 30-900

In [ ]:
rsa_loesung(7,13,11,10)

In [ ]:
# rsa_2
p, q, e, n = 3, 11, 7, 6
rsa_uebung(p,q,e,n)

In [ ]:
rsa_loesung(p,q,e,n)

In [ ]:
# rsa_3
p, q, e, n = 7, 11, 47, 2
rsa_uebung(p,q,e,n)

In [ ]:
rsa_loesung(p,q,e,n)

In [ ]:
reihen()

In [35]:
pliste(13,6)

Die Potenzen von 6 mod 13

In [9]:
rsa_loesung(103,197,19,10)

p = 103, q = 197, e = 19, n = 10
m = 20291, m_schlange = 19992
ggT(19,19992) = 1
5 * 19992  + -5261 * 19 = 1

d = 14731
oeffentlicher Schlüssel: (20291,19)
privater Schlüssel: (20291,14731)

Verschlüsselung der Nachricht: 10

Potenzen von 10
0 - 10^1 mod 20291 = 10 = -20281
1 - 10^2 mod 20291 = 100 = -20191
2 - 10^4 mod 20291 = 10000 = -10291
3 - 10^8 mod 20291 = 5952 = -14339
4 - 10^16 mod 20291 = 18509 = -1782
5 - 10^32 mod 20291 = 10128 = -10163
6 - 10^64 mod 20291 = 5379 = -14912
7 - 10^128 mod 20291 = 18966 = -1325
8 - 10^256 mod 20291 = 10599 = -9692
9 - 10^512 mod 20291 = 7825 = -12466
N = 3608

Entschlüsseln der Nachricht: 3608

Potenzen von 3608
0 - 3608^1 mod 20291 = 3608 = -16683
1 - 3608^2 mod 20291 = 11133 = -9158
2 - 3608^4 mod 20291 = 6261 = -14030
3 - 3608^8 mod 20291 = 18200 = -2091
4 - 3608^16 mod 20291 = 9716 = -10575
5 - 3608^32 mod 20291 = 6924 = -13367
6 - 3608^64 mod 20291 = 14434 = -5857
7 - 3608^128 mod 20291 = 12659 = -7632
8 - 3608^256 mod 20291 = 12254 = -8037
9 - 3608^512 mod 20291 = 7116 = -13175
n = 10

In [10]:
######

In [43]:
rsa_loesung(2,5,3,7)

p = 2, q = 5, e = 3, n = 7
m = 10, m_schlange = 4
ggT(3,4) = 1
1 * 4  + -1 * 3 = 1

d = 3
oeffentlicher Schlüssel: (10,3)
privater Schlüssel: (10,3)

Verschlüsselung der Nachricht: 7

Potenzen von 7
0 - 7^1 mod 10 = 7 = -3
1 - 7^2 mod 10 = 9 = -1
2 - 7^4 mod 10 = 1 = -9
3 - 7^8 mod 10 = 1 = -9
4 - 7^16 mod 10 = 1 = -9
5 - 7^32 mod 10 = 1 = -9
6 - 7^64 mod 10 = 1 = -9
7 - 7^128 mod 10 = 1 = -9
8 - 7^256 mod 10 = 1 = -9
9 - 7^512 mod 10 = 1 = -9
N = 3

Entschlüsseln der Nachricht: 3

Potenzen von 3
0 - 3^1 mod 10 = 3 = -7
1 - 3^2 mod 10 = 9 = -1
2 - 3^4 mod 10 = 1 = -9
3 - 3^8 mod 10 = 1 = -9
4 - 3^16 mod 10 = 1 = -9
5 - 3^32 mod 10 = 1 = -9
6 - 3^64 mod 10 = 1 = -9
7 - 3^128 mod 10 = 1 = -9
8 - 3^256 mod 10 = 1 = -9
9 - 3^512 mod 10 = 1 = -9
n = 7

#####

In [1]:
def reihen(a=[17,23,29,31,33,77,91]):
 
    ''' Multiplikationsreihen für ausgewählte Zahlen '''       
    df = pd.DataFrame(columns=range(1,16))
    for x in sorted(a):
        df.loc[x] =  [i*x for i in range(1,16)]   
    return df

In [3]:
import pandas as pd
reihen([29])

    1   2   3    4    5    6    7    8    9    10   11   12   13   14   15
29  29  58  87  116  145  174  203  232  261  290  319  348  377  406  435

In [8]:
def reiheA(x):
    s = ""
    for i in range(1,11):
        s += f' {i}-{x*i}'
    return s.strip()
print(reiheA(29))

1-29 2-58 3-87 4-116 5-145 6-174 7-203 8-232 9-261 10-290

In [36]:
binaer(155)

Binärdarstellung von 155
 155
  77   1
  38   1
  19   0
   9   1
   4   1
   2   0
   1   0
   0   1
155 binär: 10011011