## Aufgaben

#### A1:

In [2]:
def ggT(a,b):
    print(f'{a:6} {b:6}')  
    while b != 0:
        a, b = b, a% b
        print(f'{a:6} {b:6}')

In [3]:
# a.
ggT(150,54)

   150     54
    54     42
    42     12
    12      6
     6      0

In [4]:
# b.
ggT(300,468)

   300    468
   468    300
   300    168
   168    132
   132     36
    36     24
    24     12
    12      0

In [7]:
# c.
ggT(44,18)

    44     18
    18      8
     8      2
     2      0

In [16]:
# d.
ggT(992,999)

   992    999
   999    992
   992      7
     7      5
     5      2
     2      1
     1      0

----

#### A2

In [28]:
import pandas as pd
def egcd_tab(a,b):
    zeile = []
    zeile.append([a,b,a//b,a%b])
    i = 1

    while a%b != 0:
        a = zeile[i-1][1]
        b = zeile[i-1][3]
        zeile.append([a,b,a//b,a%b])
        i = i+1

    k = len(zeile)-1
    zeile[k]+=[0,1]
    k=k-1

    while k >=0:
        x = zeile[k+1][5]
        y = zeile[k+1][4]-zeile[k][2]*zeile[k+1][5]
        zeile[k]+=[x,y]
        k = k-1
    
    df =  pd.DataFrame(zeile,columns=['a', 'b', 'q', 'r', 'x', 'y'])
    satz = f'{df.iloc[0,4]} * {df.iloc[0,0]}  + {df.iloc[0,5]} * {df.iloc[0,1]} = {df.iloc[-1,1]}'
    print(satz)
    return df

In [29]:
# a.
egcd_tab(531,93)

-7 * 531  + 40 * 93 = 3

     a   b  q   r  x   y
0  531  93  5  66 -7  40
1   93  66  1  27  5  -7
2   66  27  2  12 -2   5
3   27  12  2   3  1  -2
4   12   3  4   0  0   1

In [30]:
# b.
egcd_tab(753,64)

17 * 753  + -200 * 64 = 1

     a   b   q   r   x    y
0  753  64  11  49  17 -200
1   64  49   1  15 -13   17
2   49  15   3   4   4  -13
3   15   4   3   3  -1    4
4    4   3   1   1   1   -1
5    3   1   3   0   0    1

------
#### A3

In [31]:
# a.
egcd_tab(96,66)

-2 * 96  + 3 * 66 = 6

    a   b  q   r  x  y
0  96  66  1  30 -2  3
1  66  30  2   6  1 -2
2  30   6  5   0  0  1

In [32]:
# c.
egcd_tab(119,143)

-6 * 119  + 5 * 143 = 1

     a    b   q    r  x  y
0  119  143   0  119 -6  5
1  143  119   1   24  5 -6
2  119   24   4   23 -1  5
3   24   23   1    1  1 -1
4   23    1  23    0  0  1

----

#### A4

In [1]:
from sympy import *
from sympy.solvers.diophantine import diophantine
x, y, z, k= symbols("x, y, z, k", integer=True)

In [18]:
# a.
diophantine(42*x + 126*y - 84)

{(3*t_0 + 2, -t_0)}

In [19]:
# b.
diophantine(81*x + 54*y - 27)

{(2*t_0 + 1, -3*t_0 - 1)}

In [20]:
# c.
diophantine(77*x + 121*y - 44)

{(11*t_0 - 12, 8 - 7*t_0)}

----

#### A5

In [8]:
# a
solve(3 + x - 7*k, x), diophantine(3 + x - 7*k)

([7*k - 3], {(t_0, 7*t_0 - 3)})

In [6]:
# b
diophantine(5*x - 2 - 7*k)    # In der Lösung wird in alphabetischer Reihenfolge ausgegeben

{(5*t_0 + 4, 7*t_0 + 6)}

In [7]:
# c
diophantine(5*x - 10*k -2 )   # Lösung: leere Menge

set()

In [9]:
# d
diophantine(x+34-k*5)

{(t_0, 5*t_0 - 34)}

----- 

#### A7

In [34]:
# .a
egcd_tab(37,33)

-8 * 37  + 9 * 33 = 1

    a   b  q  r  x  y
0  37  33  1  4 -8  9
1  33   4  8  1  1 -8
2   4   1  4  0  0  1

In [22]:
(9 * 5) % 37

8

In [33]:
# .b
egcd_tab(89,20)

9 * 89  + -40 * 20 = 1

    a   b  q  r  x   y
0  89  20  4  9  9 -40
1  20   9  2  2 -4   9
2   9   2  4  1  1  -4
3   2   1  2  0  0   1

In [24]:
(-40 * 7) % 89

76

----

#### A8

In [25]:
(4 ** 11) % 13

10

In [35]:
def egcd(a, b):
    if a == 0:
        return (b, 0, 1)
    else:
        g, y, x = egcd(b % a, a)
        return (g, x - (b // a) * y, y)

def modinv(a, m):
    g, x, y = egcd(a, m)
    if g != 1:
        raise Exception('modular inverse does not exist')
    else:
        return x % m

In [41]:
# a.
modinv(4**11,13)

4

In [42]:
# b.
(6 ** 31) % 29

13

In [43]:
# c.
(6 ** 32) % 29

20

-----

#### A9

In [45]:
# a.
modinv(5**21, 23)

5

In [46]:
# b.
modinv(10**13, 23)

20

In [47]:
# c.
(7 * modinv(10 ** 12, 23)) % 23

20

In [48]:
# d.
(7 * modinv(22,23)) % 23

16

-----

#### A10

In [56]:
def diffie(p,g,a,b):
    A = (g ** a) % p
    B = (g ** b) % p
    K = (B ** a) % p

    print(f'Öffentlich: A={A}, B={B}, p={p}, g={g}')
    print(f'Gemeinsamer Schlüssel: K={K}')

In [58]:
# a.
diffie(7,3,3,4)

Öffentlich: A=6, B=4, p=7, g=3
Gemeinsamer Schlüssel: K=1

In [59]:
# b.
diffie(23,7,15,17)

Öffentlich: A=14, B=19, p=23, g=7
Gemeinsamer Schlüssel: K=20

------

#### A12

In [151]:
def ggTr(a,b):
    while b!= 0:
        a, b = b, a% b
    return a
    
def rsa(p,q,v,n):
    print(f'p={p}, q={q}, v={v}')
    m = p*q
    ms = (p-1)*(q-1)
    print(f'RSA-Modul m={m}, m_schlange={ms}')
    print(f'ggT von v und m_schlange ist {ggTr(v,ms)}')

    e = modinv(v,ms)
    print(f'Öffentlicher Schlüssel:  ({m},{v})')
    print(f'Privater Schlüssel: ({m},{e})' )
    N = (n ** v) % m
    print(f'Nachricht: {n}')
    print(f'Verschlüsselte Nachricht: {N}')
    print()
    print('Hilfsmittel:')
    reihe(m)
    print()
    binaer(v)
    print()
    potenzen(n,m)
    
def reihe(m):
    print(f'Die {m}er-Reihe')
    for i in range(1,10):
        print(i,i*m)
        
def binaer(x):
    x1 = x
    print(f'Binärdarstellung von {x}')
   
    if x == 0: return '0'
    s = ""  
    print(f'{x:4}')
    while x != 0:
        s = str(x%2) + s
        print(f'{x//2:4}{x%2:4}')
        x = x // 2
    print(f'{x1} binär: {s}')
    
def potenzen(n, m):
    print('Nützliche Potenzen')
    for i in range(0,10):
        pot = n**(2**i) % m
        print(f'{i} - {n}^{2**i} mod {m} = {pot} = {pot-m}')

In [152]:
rsa(3,11,7,6)

p=3, q=11, v=7
RSA-Modul m=33, m_schlange=20
ggT von v und m_schlange ist 1
Öffentlicher Schlüssel:  (33,7)
Privater Schlüssel: (33,3)
Nachricht: 6
Verschlüsselte Nachricht: 30

Hilfsmittel:
Die 33er-Reihe
1 33
2 66
3 99
4 132
5 165
6 198
7 231
8 264
9 297

Binärdarstellung von 7
   7
   3   1
   1   1
   0   1
7 binär: 111

Nützliche Potenzen
0 - 6^1 mod 33 = 6 = -27
1 - 6^2 mod 33 = 3 = -30
2 - 6^4 mod 33 = 9 = -24
3 - 6^8 mod 33 = 15 = -18
4 - 6^16 mod 33 = 27 = -6
5 - 6^32 mod 33 = 3 = -30
6 - 6^64 mod 33 = 9 = -24
7 - 6^128 mod 33 = 15 = -18
8 - 6^256 mod 33 = 27 = -6
9 - 6^512 mod 33 = 3 = -30

In [150]:
rsa(7,11,47,2)

p=7, q=11, v=47
RSA-Modul m=77, m_schlange=60
ggT von v und m_schlange ist 1
Öffentlicher Schlüssel:  (77,47)
Privater Schlüssel: (77,23)
Nachricht: 2
Verschlüsselte Nachricht: 18

Hilfsmittel:
Die 77er-Reihe
1 77
2 154
3 231
4 308
5 385
6 462
7 539
8 616
9 693

Binärdarstellung von 47
  47
  23   1
  11   1
   5   1
   2   1
   1   0
   0   1
47 binär: 101111

Nützliche Potenzen
0 - 2^1 mod 77 = 2 = -75
1 - 2^2 mod 77 = 4 = -73
2 - 2^4 mod 77 = 16 = -61
3 - 2^8 mod 77 = 25 = -52
4 - 2^16 mod 77 = 9 = -68
5 - 2^32 mod 77 = 4 = -73
6 - 2^64 mod 77 = 16 = -61
7 - 2^128 mod 77 = 25 = -52
8 - 2^256 mod 77 = 9 = -68
9 - 2^512 mod 77 = 4 = -73