## Aufgaben

In [7]:
import pandas as pd
import numpy as np

from sympy import *
from sympy.solvers.diophantine import diophantine
x, y, z = symbols("x, y, z", integer=True)
from IPython.display import display, HTML

def ggT(a,b):
    print(f'{a:6} {b:6}')  
    while b != 0:
        a, b = b, a% b
        print(f'{a:6} {b:6}') 


def egcd_tab(a,b):
    zeile = []
    zeile.append([a,b,a//b,a%b])
    i = 1

    while a%b != 0:
        a = zeile[i-1][1]
        b = zeile[i-1][3]
        zeile.append([a,b,a//b,a%b])
        i = i+1

    k = len(zeile)-1
    zeile[k]+=[0,1]
    k=k-1

    while k >=0:
        x = zeile[k+1][5]
        y = zeile[k+1][4]-zeile[k][2]*zeile[k+1][5]
        zeile[k]+=[x,y]
        k = k-1
    
    df =  pd.DataFrame(zeile,columns=['a', 'b', 'q', 'r', 'x', 'y'])
    satz = f'{df.iloc[0,4]} * {df.iloc[0,0]}  + {df.iloc[0,5]} * {df.iloc[0,1]} = {df.iloc[-1,1]}'
    print(satz)
    return df

def egcd(a, b):
    if a == 0:
        return (b, 0, 1)
    else:
        g, y, x = egcd(b % a, a)
        return (g, x - (b // a) * y, y)

def modinv(a, m):
    g, x, y = egcd(a, m)
    if g != 1:
        raise Exception('modular inverse does not exist')
    else:
        return x % m

def ggTr(a,b):
    while b!= 0:
        a, b = b, a% b
    return a
    
def rsa(p,q,e,n):
    print(f'p={p}, q={q}, e={e}')
    m = p*q
    ms = (p-1)*(q-1)
    print(f'RSA-Modul m={m}, m_schlange={ms}')
    print(f'ggT von v und m_schlange ist {ggTr(e,ms)}')

    d = modinv(e,ms)
    print(f'Öffentlicher Schlüssel:  ({m},{e})')
    print(f'Privater Schlüssel: ({m},{d})' )
    N = (n ** e) % m
    print(f'Nachricht: {n}')
    print(f'Verschlüsselte Nachricht: {N}')
    print()
    print('Hilfsmittel:')
    reihe(m)
    print()
    binaer(e)
    print()
    potenzen(n,m)
    
def reihe(m):
    print(f'Die {m}er-Reihe')
    for i in range(1,10):
        print(i,i*m)
        
def binaer(x):
    x1 = x
    print(f'Binärdarstellung von {x}')
   
    if x == 0: return '0'
    s = ""  
    print(f'{x:4}')
    while x != 0:
        s = str(x%2) + s
        print(f'{x//2:4}{x%2:4}')
        x = x // 2
    print(f'{x1} binär: {s}')
    
def potenzen(n, m):
    print('Nützliche Potenzen')
    for i in range(0,10):
        pot = n**(2**i) % m
        print(f'{i} - {n}^{2**i} mod {m} = {pot} = {pot-m}')

def diffie_uebung(p,g,a,b):
    print(f'p = {p}, g = {g}, a = {a}, b = {b}')
    print('Berechne A, B und den gemeinsamen Schlüssel K.\n')
    print(f'Die {p}er-Reihe')
    for i in range(1,11):
        print(f'{i} * {p} = {i*p}')
    
    print(f'\nPotenzen von {g}')
    for i in range(0,10):
        x = g**(2**i) % p
        print(f'{i} - {g}^{2**i} mod {p} = {x} = {x-p}')
        
def diffie(p,g,a,b):
    print(f'p = {p}, g = {g}, a = {a}, b = {b}')
    A = (g ** a) % p
    B = (g ** b) % p
    K = (B ** a) % p

    print(f'Öffentlich: A={A}, B={B}, p={p}, g={g}')
    print(f'Gemeinsamer Schlüssel: K={K}')
    

    
def pliste(p,g):
    ''' die Potenzen g hoch x mod p  '''
 
    print(f'Die Potenzen von {g} mod {p}')
    
    df = pd.DataFrame(columns=list(range(1,p)))
    a = [(g ** x) % p for x in range(1,p) ]
    df.loc[f'{g}^x mod {p}'] = a


    display(HTML(df.to_html()))

def diffie_knack(p,g,A,B):
    print(f'p = {p}, g = {g}, A = {A}, B = {B}.')
    print('Knacke Diffie-Hellman. Wie heißen die Geheimnisse von Alice und Bob und der gemeinsame Schlüssel K?')
    print(f'\nPotenzen von {g}')
    for i in range(0,10):
        x = g**(2**i) % p
        print(f'{i} - {g}^{2**i} mod {p} = {x} = {x-p}')
    print()
    reihe(p)
    print()
    pliste(p,g)
    
def quadratzahlen():
    tmp = "Quadratzahlen\n"
    for i in range(11,21):
        tmp += f'{i}-{i*i} '
    tmp +='\n'
    for i in range(21,31):
        tmp += f'{i}-{i*i} '
    return tmp  


def rsa_uebung(p, q, e, n):
    print(f'p = {p}, q = {q}, e = {e}, n = {n}')
    
    print(f'Berechne den öffentlichen Schlüssel und prüfe dessen Zulässigkeit.')
    print(f'Berechne den privaten Schlüssel.')
    print(f'Verschlüssele die Nachricht n und teste den privaten Schlüssel.')
    print()
    reihe(p*q)
    print()
    print(quadratzahlen())
    
def rsa_loesung(p,q,e,n):
    print(f'p = {p}, q = {q}, e = {e}, n = {n}')
    m = p * q
    m_schlange = (p-1)*(q-1)
    print(f'm = {m}, m_schlange = {m_schlange}')
    print(f'ggT({e},{m_schlange}) = {ggTr(e,m_schlange)}')
    df = egcd_tab(m_schlange,e)
    display(HTML(df.to_html()))
    d = modinv(e,m_schlange)
    print(f'd = {d}')
    print(f'oeffentlicher Schlüssel: ({m},{e})')
    print(f'privater Schlüssel: ({m},{d})')
    print()
    print(f'Verschlüsselung der Nachricht: {n}')
    print(f'\nPotenzen von {n}')
    for i in range(0,10):
        x = n**(2**i) % m
        print(f'{i} - {n}^{2**i} mod {m} = {x} = {x-m}')
    N = (n**e) % m
    print(f'N = {N}')
    print()
    print(f'Entschlüsseln der Nachricht: {N}')
    print(f'\nPotenzen von {N}')
    for i in range(0,10):
        x = N**(2**i) % m
        print(f'{i} - {N}^{2**i} mod {m} = {x} = {x-m}')
    n1 = (N**d) % m
    print(f'n = {n1}')   
    
def reihen():
    ''' Multiplikationsreihen für ausgewählte Zahlen '''       
    df = pd.DataFrame(columns=range(1,16))
    for x in sorted([17,23,29,31,33,77,91]):
        df.loc[x] =  [i*x for i in range(1,16)]   
    return df

#### A1:

In [115]:
def ggT(a,b):
    print(f'{a:6} {b:6}')  
    while b != 0:
        a, b = b, a% b
        print(f'{a:6} {b:6}')

In [116]:
# a.
ggT(150,54)

   150     54
    54     42
    42     12
    12      6
     6      0

In [117]:
# b.
ggT(300,468)

   300    468
   468    300
   300    168
   168    132
   132     36
    36     24
    24     12
    12      0

In [118]:
# c.
ggT(44,18)

    44     18
    18      8
     8      2
     2      0

In [119]:
# d.
ggT(992,999)

   992    999
   999    992
   992      7
     7      5
     5      2
     2      1
     1      0

----

#### A2

In [120]:
# a.
egcd_tab(531,93)

-7 * 531  + 40 * 93 = 3

     a   b  q   r  x   y
0  531  93  5  66 -7  40
1   93  66  1  27  5  -7
2   66  27  2  12 -2   5
3   27  12  2   3  1  -2
4   12   3  4   0  0   1

In [121]:
# b.
egcd_tab(753,64)

17 * 753  + -200 * 64 = 1

     a   b   q   r   x    y
0  753  64  11  49  17 -200
1   64  49   1  15 -13   17
2   49  15   3   4   4  -13
3   15   4   3   3  -1    4
4    4   3   1   1   1   -1
5    3   1   3   0   0    1

8 * 846  + -55 * 123 = 3

     a    b  q    r  x   y
0  846  123  6  108  8 -55
1  123  108  1   15 -7   8
2  108   15  7    3  1  -7
3   15    3  5    0  0   1

------
#### A3

In [122]:
# a.
egcd_tab(96,66)

-2 * 96  + 3 * 66 = 6

    a   b  q   r  x  y
0  96  66  1  30 -2  3
1  66  30  2   6  1 -2
2  30   6  5   0  0  1

In [123]:
# c.
egcd_tab(119,143)

-6 * 119  + 5 * 143 = 1

     a    b   q    r  x  y
0  119  143   0  119 -6  5
1  143  119   1   24  5 -6
2  119   24   4   23 -1  5
3   24   23   1    1  1 -1
4   23    1  23    0  0  1

----

#### A4

In [124]:
# a.
diophantine(42*x + 126*y - 84)

{(3*t_0 + 2, -t_0)}

In [125]:
# b.
diophantine(81*x + 54*y - 27)

{(2*t_0 + 1, -3*t_0 - 1)}

In [126]:
# c.
diophantine(77*x + 121*y - 44)

{(11*t_0 - 12, 8 - 7*t_0)}

----

#### A5

In [127]:
# a
solve(3 + x - 7*k, x), diophantine(3 + x - 7*k)

([7*k - 3], {(t_0, 7*t_0 - 3)})

In [128]:
# b
diophantine(5*x - 2 - 7*k)    # In der Lösung wird in alphabetischer Reihenfolge ausgegeben

{(5*t_0 + 4, 7*t_0 + 6)}

In [129]:
# c
diophantine(5*x - 10*k -2 )   # Lösung: leere Menge

set()

In [130]:
# d
diophantine(x+34-k*5)

{(t_0, 5*t_0 - 34)}

----- 

#### A7

In [131]:
# .a
egcd_tab(37,33)

-8 * 37  + 9 * 33 = 1

    a   b  q  r  x  y
0  37  33  1  4 -8  9
1  33   4  8  1  1 -8
2   4   1  4  0  0  1

In [132]:
(9 * 5) % 37

8

In [133]:
# .b
egcd_tab(89,20)

9 * 89  + -40 * 20 = 1

    a   b  q  r  x   y
0  89  20  4  9  9 -40
1  20   9  2  2 -4   9
2   9   2  4  1  1  -4
3   2   1  2  0  0   1

In [134]:
(-40 * 7) % 89

76

----

#### A8

In [135]:
# a.
modinv(4**11,13)

4

In [136]:
# b.
(6 ** 31) % 29

13

In [137]:
# c.
(6 ** 32) % 29

20

-----

#### A9

In [138]:
# a.
modinv(5**21, 23)

5

In [139]:
# b.
modinv(10**13, 23)

20

In [140]:
# c.
(7 * modinv(10 ** 12, 23)) % 23

20

In [141]:
# d.
(7 * modinv(22,23)) % 23

16

-----

#### A10

In [142]:
# a.
diffie(7,3,3,4)

p = 7, g = 3, a = 3, b = 4
Öffentlich: A=6, B=4, p=7, g=3
Gemeinsamer Schlüssel: K=1

In [143]:
# b.
diffie(23,7,15,17)

p = 23, g = 7, a = 15, b = 17
Öffentlich: A=14, B=19, p=23, g=7
Gemeinsamer Schlüssel: K=20

------

#### A12

In [144]:
rsa(3,11,7,6)

p=3, q=11, e=7
RSA-Modul m=33, m_schlange=20
ggT von v und m_schlange ist 1
Öffentlicher Schlüssel:  (33,7)
Privater Schlüssel: (33,3)
Nachricht: 6
Verschlüsselte Nachricht: 30

Hilfsmittel:
Die 33er-Reihe
1 33
2 66
3 99
4 132
5 165
6 198
7 231
8 264
9 297

Binärdarstellung von 7
   7
   3   1
   1   1
   0   1
7 binär: 111

Nützliche Potenzen
0 - 6^1 mod 33 = 6 = -27
1 - 6^2 mod 33 = 3 = -30
2 - 6^4 mod 33 = 9 = -24
3 - 6^8 mod 33 = 15 = -18
4 - 6^16 mod 33 = 27 = -6
5 - 6^32 mod 33 = 3 = -30
6 - 6^64 mod 33 = 9 = -24
7 - 6^128 mod 33 = 15 = -18
8 - 6^256 mod 33 = 27 = -6
9 - 6^512 mod 33 = 3 = -30

In [145]:
rsa(7,11,47,2)

p=7, q=11, e=47
RSA-Modul m=77, m_schlange=60
ggT von v und m_schlange ist 1
Öffentlicher Schlüssel:  (77,47)
Privater Schlüssel: (77,23)
Nachricht: 2
Verschlüsselte Nachricht: 18

Hilfsmittel:
Die 77er-Reihe
1 77
2 154
3 231
4 308
5 385
6 462
7 539
8 616
9 693

Binärdarstellung von 47
  47
  23   1
  11   1
   5   1
   2   1
   1   0
   0   1
47 binär: 101111

Nützliche Potenzen
0 - 2^1 mod 77 = 2 = -75
1 - 2^2 mod 77 = 4 = -73
2 - 2^4 mod 77 = 16 = -61
3 - 2^8 mod 77 = 25 = -52
4 - 2^16 mod 77 = 9 = -68
5 - 2^32 mod 77 = 4 = -73
6 - 2^64 mod 77 = 16 = -61
7 - 2^128 mod 77 = 25 = -52
8 - 2^256 mod 77 = 9 = -68
9 - 2^512 mod 77 = 4 = -73

### Weitere Übungen

In [147]:
# Diffie-Hellman 1
p, g, a, b = 23, 11, 5, 10
diffie_uebung(p,g,a,b)

p = 23, g = 11, a = 5, b = 10

Die 23er-Reihe
1 * 23 = 23
2 * 23 = 46
3 * 23 = 69
4 * 23 = 92
5 * 23 = 115
6 * 23 = 138
7 * 23 = 161
8 * 23 = 184
9 * 23 = 207
10 * 23 = 230

Potenzen von 11
0 - 11^1 mod 23 = 11 = -12
1 - 11^2 mod 23 = 6 = -17
2 - 11^4 mod 23 = 13 = -10
3 - 11^8 mod 23 = 8 = -15
4 - 11^16 mod 23 = 18 = -5
5 - 11^32 mod 23 = 2 = -21
6 - 11^64 mod 23 = 4 = -19
7 - 11^128 mod 23 = 16 = -7
8 - 11^256 mod 23 = 3 = -20
9 - 11^512 mod 23 = 9 = -14

In [148]:
diffie(p,b,a,b)

p = 23, g = 10, a = 5, b = 10
Öffentlich: A=19, B=16, p=23, g=10
Gemeinsamer Schlüssel: K=6

In [149]:
# Diffie-Hellman 2
p, g, a, b = 29, 13, 12, 9
diffie_uebung(p,g,a,b)

p = 29, g = 13, a = 12, b = 9

Die 29er-Reihe
1 * 29 = 29
2 * 29 = 58
3 * 29 = 87
4 * 29 = 116
5 * 29 = 145
6 * 29 = 174
7 * 29 = 203
8 * 29 = 232
9 * 29 = 261
10 * 29 = 290

Potenzen von 13
0 - 13^1 mod 29 = 13 = -16
1 - 13^2 mod 29 = 24 = -5
2 - 13^4 mod 29 = 25 = -4
3 - 13^8 mod 29 = 16 = -13
4 - 13^16 mod 29 = 24 = -5
5 - 13^32 mod 29 = 25 = -4
6 - 13^64 mod 29 = 16 = -13
7 - 13^128 mod 29 = 24 = -5
8 - 13^256 mod 29 = 25 = -4
9 - 13^512 mod 29 = 16 = -13

In [150]:
diffie(p,g,a,b)

p = 29, g = 13, a = 12, b = 9
Öffentlich: A=23, B=5, p=29, g=13
Gemeinsamer Schlüssel: K=7

In [151]:
# Diffie-Hellman 3
p, g, a, b = 31, 11, 17, 22
diffie_uebung(p,g,a,b)

p = 31, g = 11, a = 17, b = 22

Die 31er-Reihe
1 * 31 = 31
2 * 31 = 62
3 * 31 = 93
4 * 31 = 124
5 * 31 = 155
6 * 31 = 186
7 * 31 = 217
8 * 31 = 248
9 * 31 = 279
10 * 31 = 310

Potenzen von 11
0 - 11^1 mod 31 = 11 = -20
1 - 11^2 mod 31 = 28 = -3
2 - 11^4 mod 31 = 9 = -22
3 - 11^8 mod 31 = 19 = -12
4 - 11^16 mod 31 = 20 = -11
5 - 11^32 mod 31 = 28 = -3
6 - 11^64 mod 31 = 9 = -22
7 - 11^128 mod 31 = 19 = -12
8 - 11^256 mod 31 = 20 = -11
9 - 11^512 mod 31 = 28 = -3

In [152]:
diffie(p,g,a,b)

p = 31, g = 11, a = 17, b = 22
Öffentlich: A=3, B=18, p=31, g=11
Gemeinsamer Schlüssel: K=14

In [255]:
p, g, A, B = 11, 2, 5, 8
diffie_knack(p,g,A,B)

p = 11, g = 2, A = 5, B = 8.
Knacke Diffie-Hellman. Wie heißen die Geheimnisse von Alice und Bob und der gemeinsame Schlüssel K?

Potenzen von 2
0 - 2^1 mod 11 = 2 = -9
1 - 2^2 mod 11 = 4 = -7
2 - 2^4 mod 11 = 5 = -6
3 - 2^8 mod 11 = 3 = -8
4 - 2^16 mod 11 = 9 = -2
5 - 2^32 mod 11 = 4 = -7
6 - 2^64 mod 11 = 5 = -6
7 - 2^128 mod 11 = 3 = -8
8 - 2^256 mod 11 = 9 = -2
9 - 2^512 mod 11 = 4 = -7

Die 11er-Reihe
1 11
2 22
3 33
4 44
5 55
6 66
7 77
8 88
9 99

Die Potenzen von 2 mod 11

In [256]:
diffie(11,2,4,3)

p = 11, g = 2, a = 4, b = 3
Öffentlich: A=5, B=8, p=11, g=2
Gemeinsamer Schlüssel: K=4

In [257]:
# Diffie-Hellman knacken 2
p, g, A, B = 17, 7, 11, 13
diffie_knack(p,g,A,B)

p = 17, g = 7, A = 11, B = 13.
Knacke Diffie-Hellman. Wie heißen die Geheimnisse von Alice und Bob und der gemeinsame Schlüssel K?

Potenzen von 7
0 - 7^1 mod 17 = 7 = -10
1 - 7^2 mod 17 = 15 = -2
2 - 7^4 mod 17 = 4 = -13
3 - 7^8 mod 17 = 16 = -1
4 - 7^16 mod 17 = 1 = -16
5 - 7^32 mod 17 = 1 = -16
6 - 7^64 mod 17 = 1 = -16
7 - 7^128 mod 17 = 1 = -16
8 - 7^256 mod 17 = 1 = -16
9 - 7^512 mod 17 = 1 = -16

Die 17er-Reihe
1 17
2 34
3 51
4 68
5 85
6 102
7 119
8 136
9 153

Die Potenzen von 7 mod 17

In [250]:
diffie(p,g,5,12)

p = 17, g = 7, a = 5, b = 12
Öffentlich: A=11, B=13, p=17, g=7
Gemeinsamer Schlüssel: K=13

In [367]:
# rsa_1
rsa_uebung(7,13,11,10)

p = 7, q = 13, e = 11, n = 10
Berechne den öffentlichen Schlüssel und prüfe dessen Zulässigkeit.
Berechne den privaten Schlüssel.
Verschlüssele die Nachricht n und teste den privaten Schlüssel.

Die 91er-Reihe
1 91
2 182
3 273
4 364
5 455
6 546
7 637
8 728
9 819

Quadratzahlen
11-121 12-144 13-169 14-196 15-225 16-256 17-289 18-324 19-361 20-400
21-441 22-484 23-529 24-576 25-625 26-676 27-729 28-784 29-841 30-900

In [368]:
rsa_loesung(7,13,11,10)

p = 7, q = 13, e = 11, n = 10
m = 91, m_schlange = 72
ggT(11,72) = 1
2 * 72  + -13 * 11 = 1

d = 59
oeffentlicher Schlüssel: (91,11)
privater Schlüssel: (91,59)

Verschlüsselung der Nachricht: 10

Potenzen von 10
0 - 10^1 mod 91 = 10 = -81
1 - 10^2 mod 91 = 9 = -82
2 - 10^4 mod 91 = 81 = -10
3 - 10^8 mod 91 = 9 = -82
4 - 10^16 mod 91 = 81 = -10
5 - 10^32 mod 91 = 9 = -82
6 - 10^64 mod 91 = 81 = -10
7 - 10^128 mod 91 = 9 = -82
8 - 10^256 mod 91 = 81 = -10
9 - 10^512 mod 91 = 9 = -82
N = 82

Entschlüsseln der Nachricht: 82

Potenzen von 82
0 - 82^1 mod 91 = 82 = -9
1 - 82^2 mod 91 = 81 = -10
2 - 82^4 mod 91 = 9 = -82
3 - 82^8 mod 91 = 81 = -10
4 - 82^16 mod 91 = 9 = -82
5 - 82^32 mod 91 = 81 = -10
6 - 82^64 mod 91 = 9 = -82
7 - 82^128 mod 91 = 81 = -10
8 - 82^256 mod 91 = 9 = -82
9 - 82^512 mod 91 = 81 = -10
n = 10

In [369]:
# rsa_2
p, q, e, n = 3, 11, 7, 6
rsa_uebung(p,q,e,n)

p = 3, q = 11, e = 7, n = 6
Berechne den öffentlichen Schlüssel und prüfe dessen Zulässigkeit.
Berechne den privaten Schlüssel.
Verschlüssele die Nachricht n und teste den privaten Schlüssel.

Die 33er-Reihe
1 33
2 66
3 99
4 132
5 165
6 198
7 231
8 264
9 297

Quadratzahlen
11-121 12-144 13-169 14-196 15-225 16-256 17-289 18-324 19-361 20-400
21-441 22-484 23-529 24-576 25-625 26-676 27-729 28-784 29-841 30-900

In [370]:
rsa_loesung(p,q,e,n)

p = 3, q = 11, e = 7, n = 6
m = 33, m_schlange = 20
ggT(7,20) = 1
-1 * 20  + 3 * 7 = 1

d = 3
oeffentlicher Schlüssel: (33,7)
privater Schlüssel: (33,3)

Verschlüsselung der Nachricht: 6

Potenzen von 6
0 - 6^1 mod 33 = 6 = -27
1 - 6^2 mod 33 = 3 = -30
2 - 6^4 mod 33 = 9 = -24
3 - 6^8 mod 33 = 15 = -18
4 - 6^16 mod 33 = 27 = -6
5 - 6^32 mod 33 = 3 = -30
6 - 6^64 mod 33 = 9 = -24
7 - 6^128 mod 33 = 15 = -18
8 - 6^256 mod 33 = 27 = -6
9 - 6^512 mod 33 = 3 = -30
N = 30

Entschlüsseln der Nachricht: 30

Potenzen von 30
0 - 30^1 mod 33 = 30 = -3
1 - 30^2 mod 33 = 9 = -24
2 - 30^4 mod 33 = 15 = -18
3 - 30^8 mod 33 = 27 = -6
4 - 30^16 mod 33 = 3 = -30
5 - 30^32 mod 33 = 9 = -24
6 - 30^64 mod 33 = 15 = -18
7 - 30^128 mod 33 = 27 = -6
8 - 30^256 mod 33 = 3 = -30
9 - 30^512 mod 33 = 9 = -24
n = 6

In [371]:
# rsa_3
p, q, e, n = 7, 11, 47, 2
rsa_uebung(p,q,e,n)

p = 7, q = 11, e = 47, n = 2
Berechne den öffentlichen Schlüssel und prüfe dessen Zulässigkeit.
Berechne den privaten Schlüssel.
Verschlüssele die Nachricht n und teste den privaten Schlüssel.

Die 77er-Reihe
1 77
2 154
3 231
4 308
5 385
6 462
7 539
8 616
9 693

Quadratzahlen
11-121 12-144 13-169 14-196 15-225 16-256 17-289 18-324 19-361 20-400
21-441 22-484 23-529 24-576 25-625 26-676 27-729 28-784 29-841 30-900

In [364]:
rsa_loesung(p,q,e,n)

p = 7, q = 11, e = 47, n = 2
m = 77, m_schlange = 60
ggT(47,60) = 1
-18 * 60  + 23 * 47 = 1

d = 23
oeffentlicher Schlüssel: (77,47)
privater Schlüssel: (77,23)

Verschlüsselung der Nachricht: 2

Potenzen von 2
0 - 2^1 mod 77 = 2 = -75
1 - 2^2 mod 77 = 4 = -73
2 - 2^4 mod 77 = 16 = -61
3 - 2^8 mod 77 = 25 = -52
4 - 2^16 mod 77 = 9 = -68
5 - 2^32 mod 77 = 4 = -73
6 - 2^64 mod 77 = 16 = -61
7 - 2^128 mod 77 = 25 = -52
8 - 2^256 mod 77 = 9 = -68
9 - 2^512 mod 77 = 4 = -73
N = 18

Entschlüsseln der Nachricht: 18

Potenzen von 18
0 - 18^1 mod 77 = 18 = -59
1 - 18^2 mod 77 = 16 = -61
2 - 18^4 mod 77 = 25 = -52
3 - 18^8 mod 77 = 9 = -68
4 - 18^16 mod 77 = 4 = -73
5 - 18^32 mod 77 = 16 = -61
6 - 18^64 mod 77 = 25 = -52
7 - 18^128 mod 77 = 9 = -68
8 - 18^256 mod 77 = 4 = -73
9 - 18^512 mod 77 = 16 = -61
n = 2

In [387]:
reihen()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
17,17,34,51,68,85,102,119,136,153,170,187,204,221,238,255
23,23,46,69,92,115,138,161,184,207,230,253,276,299,322,345
29,29,58,87,116,145,174,203,232,261,290,319,348,377,406,435
31,31,62,93,124,155,186,217,248,279,310,341,372,403,434,465
33,33,66,99,132,165,198,231,264,297,330,363,396,429,462,495
77,77,154,231,308,385,462,539,616,693,770,847,924,1001,1078,1155
91,91,182,273,364,455,546,637,728,819,910,1001,1092,1183,1274,1365