## Aufgaben

In [1]:
import pandas as pd
import numpy as np

from sympy import *
from sympy.solvers.diophantine import diophantine
x, y, z = symbols("x, y, z", integer=True)
from IPython.display import display, HTML

def ggT(a,b):
    print(f'{a:6} {b:6}')  
    while b != 0:
        a, b = b, a% b
        print(f'{a:6} {b:6}') 


def egcd_tab(a,b):
    zeile = []
    zeile.append([a,b,a//b,a%b])
    i = 1

    while a%b != 0:
        a = zeile[i-1][1]
        b = zeile[i-1][3]
        zeile.append([a,b,a//b,a%b])
        i = i+1

    k = len(zeile)-1
    zeile[k]+=[0,1]
    k=k-1

    while k >=0:
        x = zeile[k+1][5]
        y = zeile[k+1][4]-zeile[k][2]*zeile[k+1][5]
        zeile[k]+=[x,y]
        k = k-1
    
    df =  pd.DataFrame(zeile,columns=['a', 'b', 'q', 'r', 'x', 'y'])
    satz = f'{df.iloc[0,4]} * {df.iloc[0,0]}  + {df.iloc[0,5]} * {df.iloc[0,1]} = {df.iloc[-1,1]}'
    print(satz)
    return df

def egcd(a, b):
    if a == 0:
        return (b, 0, 1)
    else:
        g, y, x = egcd(b % a, a)
        return (g, x - (b // a) * y, y)

def modinv(a, m):
    g, x, y = egcd(a, m)
    if g != 1:
        raise Exception('modular inverse does not exist')
    else:
        return x % m

def ggTr(a,b):
    while b!= 0:
        a, b = b, a% b
    return a
    
def rsa(p,q,e,n):
    print(f'p={p}, q={q}, e={e}')
    m = p*q
    ms = (p-1)*(q-1)
    print(f'RSA-Modul m={m}, m_schlange={ms}')
    print(f'ggT von v und m_schlange ist {ggTr(e,ms)}')

    d = modinv(e,ms)
    print(f'Öffentlicher Schlüssel:  ({m},{e})')
    print(f'Privater Schlüssel: ({m},{d})' )
    N = (n ** e) % m
    print(f'Nachricht: {n}')
    print(f'Verschlüsselte Nachricht: {N}')
    print()
    print('Hilfsmittel:')
    reihe(m)
    print()
    binaer(e)
    print()
    potenzen(n,m)
    
def reihe(m):
    print(f'Die {m}er-Reihe')
    for i in range(1,10):
        print(i,i*m)
        
def binaer(x):
    x1 = x
    print(f'Binärdarstellung von {x}')
   
    if x == 0: return '0'
    s = ""  
    print(f'{x:4}')
    while x != 0:
        s = str(x%2) + s
        print(f'{x//2:4}{x%2:4}')
        x = x // 2
    print(f'{x1} binär: {s}')
    
def potenzen(n, m):
    print('Nützliche Potenzen')
    for i in range(0,10):
        pot = n**(2**i) % m
        print(f'{i} - {n}^{2**i} mod {m} = {pot} = {pot-m}')

def diffie_uebung(p,g,a,b):
    print(f'p = {p}, g = {g}, a = {a}, b = {b}')
    print('Berechne A, B und den gemeinsamen Schlüssel K.\n')
    print(f'Die {p}er-Reihe')
    for i in range(1,11):
        print(f'{i} * {p} = {i*p}')
    
    print(f'\nPotenzen von {g}')
    for i in range(0,10):
        x = g**(2**i) % p
        print(f'{i} - {g}^{2**i} mod {p} = {x} = {x-p}')
        
def diffie(p,g,a,b):
    print(f'p = {p}, g = {g}, a = {a}, b = {b}')
    A = (g ** a) % p
    B = (g ** b) % p
    K = (B ** a) % p

    print(f'Öffentlich: A={A}, B={B}, p={p}, g={g}')
    print(f'Gemeinsamer Schlüssel: K={K}')
    

    
def pliste(p,g):
    ''' die Potenzen g hoch x mod p  '''
 
    print(f'Die Potenzen von {g} mod {p}')
    
    df = pd.DataFrame(columns=list(range(1,p)))
    a = [(g ** x) % p for x in range(1,p) ]
    df.loc[f'{g}^x mod {p}'] = a


    display(HTML(df.to_html()))

def diffie_knack(p,g,A,B):
    print(f'p = {p}, g = {g}, A = {A}, B = {B}.')
    print('Knacke Diffie-Hellman. Wie heißen die Geheimnisse von Alice und Bob und der gemeinsame Schlüssel K?')
    print(f'\nPotenzen von {g}')
    for i in range(0,10):
        x = g**(2**i) % p
        print(f'{i} - {g}^{2**i} mod {p} = {x} = {x-p}')
    print()
    reihe(p)
    print()
    pliste(p,g)
    
def quadratzahlen():
    tmp = "Quadratzahlen\n"
    for i in range(11,21):
        tmp += f'{i}-{i*i} '
    tmp +='\n'
    for i in range(21,31):
        tmp += f'{i}-{i*i} '
    return tmp  


def rsa_uebung(p, q, e, n):
    print(f'p = {p}, q = {q}, e = {e}, n = {n}')
    
    print(f'Berechne den öffentlichen Schlüssel und prüfe dessen Zulässigkeit.')
    print(f'Berechne den privaten Schlüssel.')
    print(f'Verschlüssele die Nachricht n und teste den privaten Schlüssel.')
    print()
    reihe(p*q)
    print()
    print(quadratzahlen())
    
def rsa_loesung(p,q,e,n):
    print(f'p = {p}, q = {q}, e = {e}, n = {n}')
    m = p * q
    m_schlange = (p-1)*(q-1)
    print(f'm = {m}, m_schlange = {m_schlange}')
    print(f'ggT({e},{m_schlange}) = {ggTr(e,m_schlange)}')
    df = egcd_tab(m_schlange,e)
    display(HTML(df.to_html()))
    d = modinv(e,m_schlange)
    print(f'd = {d}')
    print(f'oeffentlicher Schlüssel: ({m},{e})')
    print(f'privater Schlüssel: ({m},{d})')
    print()
    print(f'Verschlüsselung der Nachricht: {n}')
    print(f'\nPotenzen von {n}')
    for i in range(0,10):
        x = n**(2**i) % m
        print(f'{i} - {n}^{2**i} mod {m} = {x} = {x-m}')
    N = (n**e) % m
    print(f'N = {N}')
    print()
    print(f'Entschlüsseln der Nachricht: {N}')
    print(f'\nPotenzen von {N}')
    for i in range(0,10):
        x = N**(2**i) % m
        print(f'{i} - {N}^{2**i} mod {m} = {x} = {x-m}')
    n1 = (N**d) % m
    print(f'n = {n1}')   
    
def reihen():
    ''' Multiplikationsreihen für ausgewählte Zahlen '''       
    df = pd.DataFrame(columns=range(1,16))
    for x in sorted([13,17,23,29,31,33,77,91]):
        df.loc[x] =  [i*x for i in range(1,16)]   
    return df

----

#### A2

In [2]:
# a.
egcd_tab(39,26)

1 * 39  + -1 * 26 = 13

    a   b  q   r  x  y
0  39  26  1  13  1 -1
1  26  13  2   0  0  1

In [8]:
# b.
egcd_tab(753,64)

17 * 753  + -200 * 64 = 1

     a   b   q   r   x    y
0  753  64  11  49  17 -200
1   64  49   1  15 -13   17
2   49  15   3   4   4  -13
3   15   4   3   3  -1    4
4    4   3   1   1   1   -1
5    3   1   3   0   0    1

------
#### A3

In [9]:
# a.
egcd_tab(96,66)

-2 * 96  + 3 * 66 = 6

    a   b  q   r  x  y
0  96  66  1  30 -2  3
1  66  30  2   6  1 -2
2  30   6  5   0  0  1

In [10]:
# c.
egcd_tab(119,143)

-6 * 119  + 5 * 143 = 1

     a    b   q    r  x  y
0  119  143   0  119 -6  5
1  143  119   1   24  5 -6
2  119   24   4   23 -1  5
3   24   23   1    1  1 -1
4   23    1  23    0  0  1

----

#### A4

In [11]:
# a.
diophantine(42*x + 126*y - 84)

{(3*t_0 + 2, -t_0)}

In [12]:
# b.
diophantine(81*x + 54*y - 27)

{(2*t_0 + 1, -3*t_0 - 1)}

In [13]:
# c.
diophantine(77*x + 121*y - 44)

{(11*t_0 - 12, 8 - 7*t_0)}

----

#### A5

In [15]:

k = symbols("k", integer=True)
# a
solve(3 + x - 7*k, x), diophantine(3 + x - 7*k)

([7*k - 3], {(t_0, 7*t_0 - 3)})

In [16]:
# b
diophantine(5*x - 2 - 7*k)    # In der Lösung wird in alphabetischer Reihenfolge ausgegeben

{(5*t_0 + 4, 7*t_0 + 6)}

In [17]:
# c
diophantine(5*x - 10*k -2 )   # Lösung: leere Menge

set()

In [18]:
# d
diophantine(x+34-k*5)

{(t_0, 5*t_0 - 34)}

----- 

#### A7

In [ ]:
# .a
egcd_tab(37,33)

In [ ]:
(9 * 5) % 37

In [ ]:
# .b
egcd_tab(89,20)

In [ ]:
(-40 * 7) % 89

----

#### A8

In [ ]:
# a.
modinv(4**11,13)

In [ ]:
# b.
(6 ** 31) % 29

In [ ]:
# c.
(6 ** 32) % 29

-----

#### A9

In [ ]:
# a.
modinv(5**21, 23)

In [ ]:
# b.
modinv(10**13, 23)

In [ ]:
# c.
(7 * modinv(10 ** 12, 23)) % 23

In [ ]:
# d.
(7 * modinv(22,23)) % 23

-----

#### A10

In [ ]:
# a.
diffie(7,3,3,4)

In [ ]:
# b.
diffie(23,7,15,17)

------

#### A12

In [ ]:
rsa(3,11,7,6)

In [ ]:
rsa(7,11,47,2)

### Weitere Übungen

In [ ]:
# Diffie-Hellman 1
p, g, a, b = 23, 11, 5, 10
diffie_uebung(p,g,a,b)

In [ ]:
diffie(p,b,a,b)

In [ ]:
# Diffie-Hellman 2
p, g, a, b = 29, 13, 12, 9
diffie_uebung(p,g,a,b)

In [ ]:
diffie(p,g,a,b)

In [ ]:
# Diffie-Hellman 3
p, g, a, b = 31, 11, 17, 22
diffie_uebung(p,g,a,b)

In [ ]:
diffie(p,g,a,b)

In [ ]:
p, g, A, B = 11, 2, 5, 8
diffie_knack(p,g,A,B)

In [ ]:
diffie(11,2,4,3)

In [ ]:
# Diffie-Hellman knacken 2
p, g, A, B = 17, 7, 11, 13
diffie_knack(p,g,A,B)

In [ ]:
diffie(p,g,5,12)

In [ ]:
# rsa_1
rsa_uebung(7,13,11,10)

In [ ]:
rsa_loesung(7,13,11,10)

In [ ]:
# rsa_2
p, q, e, n = 3, 11, 7, 6
rsa_uebung(p,q,e,n)

In [ ]:
rsa_loesung(p,q,e,n)

In [ ]:
# rsa_3
p, q, e, n = 7, 11, 47, 2
rsa_uebung(p,q,e,n)

In [ ]:
rsa_loesung(p,q,e,n)

In [ ]:
reihen()

In [ ]:
pliste(13,6)