### Aufgaben zur Zahlentheorie/Kryptologie

Wende die Teilbarkeitsregeln fÃ¼r 2-12 auf folgende Zahlen an:  
$a.1540 \quad b.1623272 \quad   c.13678500 \quad  d.123456789 $

In [1]:
def quersumme(n):
    return sum([int(x) for x in str(n)])

def altquersumme(n):
    tmp = 0
    s = str(n)
    for k in range(len(s)-1,-1,-1):
        tmp += (-1)**k*int(s[k])
    return tmp

def siebenertest(n):
    tmp = ''
    s = str(n)
    while len(s) > 2:
        tmp += s + ' '
        m = int(s[:-1])-2*int(s[-1])
        
        s = str(m)
    tmp += s  
    return tmp

In [2]:
def tregeln(n):
    print('n =',n)
    print('Quersumme:',quersumme(n))
    print('Alternierende Quersumme:',altquersumme(n) )
    print('Siebener Test:',siebenertest(n) )

In [6]:
def eggT_tab(a,b):
    zeile = []
    zeile.append([a,b,a//b,a%b])
    i = 1

    while a%b != 0:
        a = zeile[i-1][1]
        b = zeile[i-1][3]
        zeile.append([a,b,a//b,a%b])
        i = i+1

    k = len(zeile)-1
    zeile[k]+=[0,1]
    k=k-1

    while k >=0:
        x = zeile[k+1][5]
        y = zeile[k+1][4]-zeile[k][2]*zeile[k+1][5]
        zeile[k]+=[x,y]
        k = k-1
    
    print('    a    b    q    r    x    y')
    for k in range(len(zeile)):
        print(f'{zeile[k][0]:>{5}}{zeile[k][1]:>{5}}{zeile[k][2]:>{5}}{zeile[k][3]:>{5}}{zeile[k][4]:>{5}}{zeile[k][5]:>{5}}')
    print()
    print(f'{zeile[0][0]} * {zeile[0][4]} + {zeile[0][1]} * {zeile[0][5]} = {zeile[-1][1]}')
    
def ggT(a,b):
    print(f'{a:6} {b:6}')  
    while b != 0:
        a, b = b, a% b
        print(f'{a:6} {b:6}')

In [45]:
tregeln(1540)

n = 1540
Quersumme: 10
Alternierende Quersumme: 0
Siebener Test: 1540 154 7

In [46]:
tregeln(1623272)

n = 1623272
Quersumme: 23
Alternierende Quersumme: -9
Siebener Test: 1623272 162323 16226 1610 161 14

In [47]:
tregeln(13678500)

n = 13678500
Quersumme: 30
Alternierende Quersumme: 0
Siebener Test: 13678500 1367850 136785 13668 1350 135 3

In [48]:
tregeln(123456789)

n = 123456789
Quersumme: 45
Alternierende Quersumme: 5
Siebener Test: 123456789 12345660 1234566 123444 12336 1221 120 12

In [70]:
n = 123456789
def teilbarkeit(n):
    res = f'{n} teilbar durch'
    for k in range(2,13):
        if n % k == 0:
            res = res + ' ' + str(k)
    return res

In [71]:
print(teilbarkeit(n))

123456789 teilbar durch 3 9

---

Bestimme mit dem erweiterten Euklidschen Algorithmus: 
 a.  $\dfrac{\overline{5}}{\overline{33}}$ in  $\mathbb{Z}_{37}$. 
 b.  $\dfrac{\overline{7}}{\overline{20}}$ in  $\mathbb{Z}_{89}$.

In [79]:
eggT_tab(37,33)

    a    b    q    r    x    y
   37   33    1    4   -8    9
   33    4    8    1    1   -8
    4    1    4    0    0    1

37 * -8 + 33 * 9 = 1

In [15]:
eggT_tab(143,119)

    a    b    q    r    x    y
  143  119    1   24    5   -6
  119   24    4   23   -1    5
   24   23    1    1    1   -1
   23    1   23    0    0    1

143 * 5 + 119 * -6 = 1

In [12]:
ggT(999,992)

   999    992
   992      7
     7      5
     5      2
     2      1
     1      0